<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head('Create Address')">
    </head>
    <body class="bg-light h-100">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-8 pb-3">
                    <h3 class="text-secondary">Create Address</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <form
                            action="#"
                            th:action = "@{/address/saveAndRedirectToPortfolioCreate}"
                            th:object = "${address}"
                            method="post">

                        <div class="form-group">
                            <label class="d-flex" for="subject">Subject</label>
                            <input
                                    th:field="*{subject}"
                                    class="form-control"
                                    type="text"
                                    id="subject"
                                    aria-describedby="subjectHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="num">Number</label>
                            <input
                                    th:field="*{num}"
                                    class="form-control"
                                    type="text"
                                    id="num"
                                    aria-describedby="numHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="address">Address</label>
                            <input
                                    th:field="*{address}"
                                    class="form-control"
                                    type="text"
                                    id="address"
                                    aria-describedby="addressHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="parish">Parish</label>
                            <input
                                    th:field="*{parish}"
                                    class="form-control"
                                    type="text"
                                    id="parish"
                                    aria-describedby="parishHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="townCity">Town/City</label>
                            <input
                                    th:field="*{townCity}"
                                    class="form-control"
                                    type="text"
                                    id="townCity"
                                    aria-describedby="townCityHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="county">County</label>
                            <input
                                    th:field="*{county}"
                                    class="form-control"
                                    type="text"
                                    id="county"
                                    aria-describedby="countyHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="stateProvince">State/Province</label>
                            <input
                                    th:field="*{stateProvince}"
                                    class="form-control"
                                    type="text"
                                    id="stateProvince"
                                    aria-describedby="stateProvinceHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="island">Island</label>
                            <input
                                    th:field="*{island}"
                                    class="form-control"
                                    type="text"
                                    id="island"
                                    aria-describedby="islandHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="countryRegion">Country/Region</label>
                            <input
                                    th:field="*{countryRegion}"
                                    class="form-control"
                                    type="text"
                                    id="countryRegion"
                                    aria-describedby="countryRegionHelp"
                            >
                        </div>
                        <div class="form-group">
                            <label class="d-flex" for="postalCode">Postal Code</label>
                            <input
                                    th:field="*{postalCode}"
                                    class="form-control"
                                    type="text"
                                    id="postalCode"
                                    aria-describedby="postalCodeHelp"
                            >
                        </div>
                        <button class="btn btn-secondary btn-sm" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>