<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head('Education Group')">
    </head>
    <body class="bg-light h-100">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-8 pb-3">
                    <h3 class="text-secondary">Create Education Group</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <form
                            th:action="@{/educationGroup/saveAndRedirectToPortfolioCreate}"
                            th:object="${educationGroup}"
                            method=post>

                        <div class="form-group">
                            <label class="d-flex" for="groupName">Group Name</label>
                            <div class="d-flex">
                                <input
                                        th:field="*{groupName}"
                                        class="form-control"
                                        type="text"
                                        id="groupName"
                                        aria-describedby="groupNameHelp">
                            </div>
                        </div>
                        <!-- Should use checkboxes for this -->
                        <div class="form-group">
<!--                            <div class="d-flex">-->
<!--                                <ul>-->
<!--                                    <li th:each="education : ${educationSet}">-->
<!--                                        <input type="checkbox" th:field="*{educations}" th:value="${education.id}" />-->
<!--                                        <label th:for="${#ids.prev('educations')}"-->
<!--                                               th:text="${education.institution}">Placeholder</label>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            <div class="form-check form-check-inline mr-5" th:each="education : ${educationSet}">
                                <input class="form-check-input" type="checkbox" th:field="*{educations}" th:value="${education.id}">
                                <label class="form-check-label"
                                       th:for="${#ids.prev('educations')}"
                                       th:text="${education.institution}">Placeholder</label>
                            </div>
                            <button class="btn btn-secondary btn-sm" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>