/*html, body {*/
/*    font-family: 'Roboto Condensed', sans-serif;*/
/*    height: 100%;*/
/*}*/

p, h1, h2, h3, h4, h5, h6 {
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.table td {
    background-color: white;
    font-family: aileron, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
}

.leftSideBar {
    background-color: rgba(74, 109, 143, 1);
    padding: 0 30px 0;
}

.rightSideBar {
    background-color: rgba(74, 109, 143, 1);
    padding: 0 30px 0;
}

.signikaReg {
    font-family: 'Signika', sans-serif;
}

.signikaSm {
    font-family: 'Signika', sans-serif;
    font-size: .80em;
}

.branding {

}

.pic {
    background-image: url("../img/profilepicColorAdjust3.jpg");
    background-repeat: no-repeat;
    border-top: 1px dashed transparent;
    border-left: 1px dashed transparent;
    border-right: 1px dashed transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    /*width: 300px;*/
    height: 208px;
    object-fit: cover;
    position: relative;
}

.pic:hover {
    border: 1px dashed white;
}

.identityWrapper {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.summaryBody {
    border: 1px dashed transparent;
    text-align: justify;
}

.summaryBody:hover {
    border: 1px dashed white;
}

.contactBody {
    border: 1px dashed transparent;
}

.contactBody:hover {
    border: 1px dashed white;
}

.contactBody p {
    margin: 0;
}

.educationRow {
    border: 1px dashed transparent;
}

.educationRow:hover {
    border: 1px dashed gray;
}

table td {
    border-top: 0 !important;
}

.slateBlue {
    color: rgba(74, 109, 143, 1);
}

.bg-100 {
    color: rgba(54, 60, 66, 1);
}

.bg-lightBlue {
    background-color:  rgba(167, 186, 204, 1);
}

.text-darkBlue {
    color: #4d7eff !important;
}

.card-text-sm {
    font-size: .80rem;
    margin-bottom: .2rem;
}

/*i.fas,*/
/*i.fab {*/
/*   font-size: 3em;*/
/*}*/