<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head :: head('Index Page')">
    </div>
    <body class="bg-light h-100">
        <div class="container-fluid min-vh-100 animate__animated animate__slideInLeft">
            <div class="row">
                <div class="leftSideBar col-3 min-vh-100">
                    <div class="branding pt-4 pb-5">
                        <div class="pic" onclick="location.href='http://localhost:8080/identity/list'">
                            <div class="identityWrapper">
                                <h2 class="text-white w-100 mb-0 pl-1" th:text="${name}">John Smith</h2>
                                <h6 class="text-white signikaReg mb-0 pl-1 pb-1">Full Stack Developer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="summary pb-3">
                        <h5 class="text-white w-100">About Me</h5>
                        <p class="summaryBody text-white signikaSm w-100" onclick="alert('Summary div...')">
                            I'm a Canadian expat with an adventurous spirit and a curiosity for the unknown. This sense of
                            adventure and desire to explore the unknown has always been a strong motivator in my life, and
                            has led me to some awesome experiences. Now, prepared to embark on a new journey, I'm itching
                            to begin my next great adventure.
                        </p>
                    </div>
                    <div class="contact">
                        <h5 class="text-white w-100">Contact</h5>
                        <div class="contactBody" onclick="alert('Contact Div...')">
                            <p class="text-white signikaSm w-100">rmcorre@gmail.com</p>
                            <p class="text-white signikaSm w-100">91 421 3861</p>
                            <p class="text-white signikaSm w-100">Sao Miguel, Azores</p>
                        </div>
                    </div>
                </div>

                <div class="education col-6">
                    <h3 class="col-10 mx-auto mt-5 mb-2 bg-100">Education</h3>
                    <table class="table col-10 mx-auto mb-5">
                        <tbody class="educationTable" onclick="alert('Education Div...')">
                            <tr class="educationRow">
                                <td class="signikaReg" style="width: 35%">
                                    May 2019 - Aug 2019
                                </td>
                                <td class="h6 signikaReg" style="width: 65%">
                                    Full Stack Developer <br>
                                    Academia De Codigo <br>
                                    Terceira, Azores
                                </td>
                            </tr>
                            <tr>
                                <td class="signikaReg" style="width: 35%">
                                    May 2019 - Aug 2019
                                </td>
                                <td class="h6 signikaReg" style="width: 65%">
                                    Full Stack Developer <br>
                                    Academia De Codigo <br>
                                    Terceira, Azores
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 class="col-10 mx-auto mb-2 bg-100">Employment</h3>
                    <table class="table col-10 mx-auto mb-5">
                        <tbody>
                            <tr>
                                <td class="signikaReg" style="width: 35%">
                                        Apr 2016 - Oct 2017
                                </td>
                                <td class="h6 signikaReg" style="width: 65%">
                                        Customer Representative <br>
                                        Tesco <br>
                                        Helping customers...
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-3 rightSideBar">
                    <div class="pt-4 pb-4">
                        <h5 class="text-white w-100">Industry Knowledge</h5>
        <!--                <c:forEach var="industryKnowledge" items="${industryKnowledge}">-->
        <!--                    <div class="text-white signikaSm">${industryKnowledge.area}</div>-->
        <!--                </c:forEach>-->
                    </div>
                    <div class="pb-4">
                        <div class="h5 text-white w-100">Tools And Technology</div>
                        <div class="row">
                            <div class="col-3">
        <!--                        <c:forEach var="backEnd" items="${backEndSkillCategory}">-->
        <!--                            <div class="text-white signikaSm">${backEnd}</div>-->
        <!--                        </c:forEach>-->
                            </div>
                            <div class="col-3">
        <!--                        <c:forEach var="frontEnd" items="${frontEndSkillCategory}">-->
        <!--                            <div class="text-white signikaSm">${frontEnd}</div>-->
        <!--                        </c:forEach>-->
                            </div>
                            <div class="col-3">
        <!--                        <c:forEach var="libraryAndFramework" items="${libraryAndFrameworkCategory}">-->
        <!--                            <div class="text-white signikaSm">${libraryAndFramework}</div>-->
        <!--                        </c:forEach>-->
                            </div>
                            <div class="col-3">
        <!--                        <c:forEach var="tools" items="${tools}">-->
        <!--                            <div class="text-white signikaSm">${tools}</div>-->
        <!--                        </c:forEach>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
